{%extends 'base1.html'%}
{% block section%}
    <section id="contact" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card p-2">
            <table class="table table-responsive">
              <tbody>
              {%for theatre in theatres%}
                <tr>
                  <td>
                    <p>{{theatre.name}}:
                        {{theatre.address}}
                    </p>
                  </td>
                  <td>
                    <a href="{%url 'select_show' movie_id theatre.id%}" class="btn btn-danger">
                      Select Show
                    </a>
                  </td>
                </tr>
              {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock section%}