{%extends 'base1.html'%}
{% load staticfiles %}
{% block content%}
<div class="wrapper">
  <div class="container">
  <h1>Choose Your Seat</h1>
  <form action="{% url 'handle_booking'%}" method='post'>
  	{% csrf_token %}
  	<input type="hidden" value=""  name='price' id="price">
  	<input type="hidden" value="{{movie_id}}"  name='movie_id' id="movie_id">
  	<input type="hidden" value="{{theatre_id}}"  name='theatre_id' id="theatre_id">
  	<input type="hidden" value="{{movie_show_id}}"  name='movie_show_id' id="theatre_id">
  	<input type="hidden" value=""  name='seats' id="seats">
    <div id="seat-map">
      <div class="front-indicator">Screen This Side</div>
    </div>
    <button id="total" type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
<script>
			var firstSeatLabel = 1;
			$(document).ready(function() {
				var host = "http://localhost:8000"
				data = {
						"theatre_id":{{theatre_id}},
						"movie_id": {{movie_id}},
						"movie_show_id":{{movie_show_id}}	
					}
				$.ajax({
			        url: host+"/listmovie/api/load_seat",
			        method:'post',
			        data: JSON.stringify(data),
			        dataType: 'json',
			        success: function(returndata){
			        	console.log(data)
			        	var $cart = $('#selected-seats'),
						$counter = $('#counter'),
						$total = $('#total'),
						$price = $('#price'),
						$seats = $('#seats'),
						selected_seats = new Array(),
						sc = $('#seat-map').seatCharts({
						map: returndata.seating_arrangement,
						seats: {
							f: {
								price   : 100,
								classes : 'first-class', //your custom CSS class
								category: 'First Class'
							}				
						
						},
						naming : {
							top : false,
							getLabel : function (character, row, column) {
								return firstSeatLabel++;
							},
						},
						legend : {
							node : $('#legend'),
						    items : [
								[ 'f', 'available',   'First Class' ],
								[ 'f', 'unavailable', 'Already Booked']
						    ]					
						},
						click: function () {
							if (this.status() == 'available') {
								selected_seats.push(this.settings.id)
								$seats.val(selected_seats.join())
								console.log(selected_seats)
								//let's create a new <li> which we'll add to the cart items
								$('<li>'+this.data().category+' Seat # '+this.settings.label+': <b>$'+this.data().price+'</b> <a href="#" class="cancel-cart-item">[cancel]</a></li>')
									.attr('id', 'cart-item-'+this.settings.id)
									.data('seatId', this.settings.id)
									.appendTo($cart);
								$counter.text(sc.find('selected').length+1);
								price = recalculateTotal(sc)+this.data().price;
								$total.text("Total = Rs." + price);
								$price.val(price)
								return 'selected';
							} else if (this.status() == 'selected') {
								selected_seats.splice(selected_seats.indexOf(this.settings.id),1)
								$seats.val(selected_seats.join())
								console.log(selected_seats)
								//update the counter
								$counter.text(sc.find('selected').length-1);
								//and total
								price = recalculateTotal(sc)-this.data().price
								$total.text("Total = Rs." + price);
								$price.val(price)
								//remove the item from our cart
								$('#cart-item-'+this.settings.id).remove();
							
								//seat has been vacated
								return 'available';
							} else if (this.status() == 'unavailable') {
								//seat has been already booked
								return 'unavailable';
							} else {
								return this.style();
							}
						}
					});
			        	$('#selected-seats').on('click', '.cancel-cart-item', function () {
							//let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
							sc.get($(this).parents('li:first').data('seatId')).click();
						});
						sc.get(returndata.booked_seat_list).status('unavailable');

			        },
			        error: function(err){
			        	console.log(host+"/listmovie/index")
			        	console.log(err)
			        }
			    });
				//this will handle "[cancel]" link clicks
						
		});

		function recalculateTotal(sc) {
			var total = 0;
		
			//basically find every selected seat and sum its price
			sc.find('selected').each(function () {
				total += this.data().price;
			});
			return total;
		}
		
		</script>

{% endblock%}